.emailForm {
  width: 100%;
}

.formGroup {
  padding-bottom: 8px;
}

.validate {
  display: block;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
  position: absolute;
}

.sentMessage {
  display: block;
  color: #fff;
  background: #61e59f;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.loading {
  display: block;
  text-align: center;
  padding: 15px;
}

.loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #cda45e;
  border-top-color: #1a1814;
  animation: spin 1s linear infinite;
}

input {
  height: 44px;
  border-width: 1px;
  border-style: solid;
}

.emailForm input,
textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px !important;
  background: #0c0b09;
  border-color: #625b4b;
  color: white;
  width: 100% !important;
  padding: 0.5rem;
}

.emailForm input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a49b89;
}

.emailForm input::placeholder,
textarea::placeholder {
  color: #a49b89;
}

.emailForm input:focus,
textarea:focus {
  border-color: #cda45e;
}

.textarea {
  padding: 10px 12px;
}

.submitButton {
  background: #cda45e;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.submitButton:hover {
  background: #d3af71;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
